<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greenhouse Control</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
		<div class="menu">
			<h1>Greenhouse Control</h1>
			<a href="../php/flowerpedia.php">
				<h2 class="bouton">Flowerpedia</h2>
			</a>
		</div>
    <ul class="plant-list">
        {% for flower in flowers %}
            {% set imageFilename = flower.common_name|replace({' ': '_', '\'': '', '.': '', ',': '', '(': '', ')': '', '&': 'and'})|lower %}
            {% set imagePath = '../images/' ~ imageFilename ~ '.jpg' %}
            <li class="plant-item">
    <img src="{{ imagePath }}" alt="{{ flower.common_name }}" class="plant-image">
    <div class="info-table-container">
        <div class="plant-info">
                    <h3>{{ flower.common_name }}</h3>
                    <p><span class="plant-label">Last Measurement Date:</span> {{ flower.last_measure_date ? flower.last_measure_date : 'No value' }}</p>
                    <p><span class="plant-label">Last Humidity:</span> {{ flower.last_humidity ? flower.last_humidity ~ '%' : 'No value' }}</p>
                    <p><span class="plant-label">Last Temperature:</span> {{ flower.last_temperature ? flower.last_temperature ~ '°C' : 'No value' }}</p>
                            </div>

					<table>
                        <tr>
                            <th>Date</th>
                            <th>Temperature (°C)</th>
                            <th>Humidity (%)</th>
                        </tr>
                        {% for i in 0..2 %}
                            <tr>
                                <td>{{ flower.measure_dates[i] ? flower.measure_dates[i] : 'No data' }}</td>
                                <td>{{ flower.temperatures[i] ? flower.temperatures[i] : 'No data' }}</td>
                                <td>{{ flower.humidities[i] ? flower.humidities[i] : 'No data' }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </li>
        {% endfor %}
    </ul>
    <script src="../javascript/script.js"></script>
</body>
</html>
